<!--Start breadcrumb area-->
<section class="breadcrumb-area" style="background-image: url(/images/bim/header.png);">
	<div class="container-fluid text-center">
		<h1>SINOVA & BIM</h1>
	</div>
</section>
<!--End breadcrumb area-->

<!--Start about interrio area-->
<section class="about-interrio-area">
    <div class="container">
        <div class="sec-title">
            <h2>Acerca de <span>SINOVA</span></h2>
            <span class="decor"></span>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="text-holder">
                    <h3>¡Acercando la industria 4.0 con la <span>industria de la construcción!</span></h3>
                    <p>Hoy en día empresas de infraestructura continúan desarrollando sus servicios de una manera ineficiente, cuyos procesos  fomentan el individualismo y NO el trabajo en equipo. Si no logran reorientar sus procesos ante los cambios en  la era digital, estarán destinadas a ser empresas ineficientes. ¡Inclusive a desaparecer!</p>
										<p>Ante las necesidades actuales y por venir, en SINOVA&BIM nos comprometemos siempre a velar y fomentar por la calidad en nuestros servicios, mediante la innovación como estándar en los servicios ofrecidos.Buscando implementar la tecnología disponible como BIG DATA, Realidad virtual, Drones Y BIM en nuestros proyectos futuros .</p>
										<p>¡Construcciones con el poder de la tecnología de la industria 4.0!</p>
                    <div class="signature-and-name">
                        <div class="tamen" class="signature">
                            <img src="/images/bim/logoempresa.png" alt="Signature">
                        </div>
                        <div class="name">
                        </div>
                    </div>
                </div>
            </div>
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-item">
                    <div class="img-holder">
                        <img src="/images/bim/vision.jpg" alt="Awesome Image">
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <a href="services-single.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-box">
                        <h3>La Visión</h3>
                        <p>Fomentar la innovación y sustentabilidad en el desarrollo de infraestructura eficiente,mediante la adopción de la CULTURA BIM en nuestro trabajo e implementación de la tecnologia 4.0 en la construcción. Como un medio de mejora hacia el camino para Smartcities.</p>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-item pdtop">
                    <div class="img-holder">
                        <img src="/images/bim/mision.jpg" alt="Awesome Image">
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <a href="services-single.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-box">
                        <h3>La Misión</h3>
                        <p>Mejorar la calidad de vida de las personas fomentando la implementación de tecnologías en edificaciones, siendo una empresa reconocida en el desarrollo de infraestructura mediante la implementación de tecnologías y la coordinación de proyectos multidisciplinarios.</p>
                    </div>
                </div>
            </div>
            <!--End single item-->
        </div>
    </div>
</section>
<!--End about interrio area-->

<!--Start choose area-->
<section class="choose-area" style="background-image:url(/images/about/choose-bg.jpg);color:#ffffff;">
    <div class="container">
        <div class="sec-title text-center">
            <h2>Cultura Organizacional</h2><br>
						<p>En Sinova&BIM sabemos de la importancia de la cultura organizacional,lo consideramos como el principal cimiento de nuestra empresa al fomentar una cultura organizacional orientada hacia la innovación continua y hacia el cliente mediante la colaboración mutua y confianza hacia nuestro equipo de trabajo en la toma de decisiones de calidad en sus funciones.</p>
            <span class="border"></span>
        </div>
        <div class="row">
            <!--Start single item-->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-item">
                    <div class="icon-holder">
                        <span class="flaticon-internet"></span>
                    </div>
                    <div class="text-holder">
                        <h3>Cultura BIM</h3>
                        <p>Edificaciones con eficiencia e innovación en la industria de la construcción.El fomento de una cultura BIM entre nuestro servicios y nuestro equipo de trabajo.</p>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-item">
                    <div class="icon-holder">
                        <span class="flaticon-idea"></span>
                    </div>
                    <div class="text-holder">
                        <h3>Confianza y ética laboral</h3>
                        <p>Asi como nuestros clientes confían en nosotros, SINOVA&BIM confía plenamente en la capacidad de sus colaboradores para la toma de decisiones y ejecución de sus labores apegándose a la ética laboral.</p>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-item">
                    <div class="icon-holder">
                        <span class="flaticon-construction"></span>
                    </div>
                    <div class="text-holder">
                        <h3>Sistema de innovación continua</h3>
                        <p>Con el fin de mantener la innovación como nuestro estándar de trabajo, buscamos cuestionar los sistemas actuales de la industria de la construcción, en nuestros proyectos se dará mediante un continuo proceso de planificación y control promoviendo la calidad en nuestros servicios.</p>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-item">
                    <div class="icon-holder">
                        <span class="flaticon-cup"></span>
                    </div>
                    <div class="text-holder">
                        <h3>Comunicación de calidad</h3>
                        <p>Generar interacciones innovadoras entre nuestros colaboradores y clientes, que permitan mantener una comunicación de calidad continua para ajustar procesos y la oportuna toma de decisiones, e incluso procurando el desarrollo de sinergias entre nuestros colaboradores.</p>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-item">
                    <div class="icon-holder">
                        <span class="flaticon-interface"></span>
                    </div>
                    <div class="text-holder">
                        <h3>Flujo laboral continuo</h3>
                        <p>Para poder crecer como empresa líder y ofrecer nuestros servicios a un alcance mayor de la industria, es necesario  fomentar un crecimiento profesional y personal entre nuestros colaboradores.</p>
                    </div>
                </div>
            </div>
            <!--End single item-->
        </div>
    </div>
</section>
<!--End choose area-->

<!--Start our team area-->
<section class="team-area">
    <div class="container">
        <div class="sec-title">
            <h2>Nuestros Principios <span>Estrategicos</span></h2><br>
						<p> En SINOVA&BIM no fomentamos la competencia y el individualismo entre empresas. Proponemos que para poder  desarrollar a cabo proyectos en calidad y en forma alineados a la <strong color="red">CULTURA BIM</strong>, es necesario fomentar una cultura de trabajo en equipo y cooperación con los diversos actores de la industria de la construcción.</p>

            <span class="decor"></span>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="team-members">
                    <!--Start single team member-->
                    <div class="single-team-member">
                        <div class="img-holder">
                            <img src="/images/bim/empresa3.jpg" alt="Awesome Image">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-holder text-center">
                            <h3>Sinergia Organizacional</h3><br>
                            <p>En SINOVA&BIM sabemos que para el éxito de los proyectos es necesario una cooperación constante entre los colaboradores.</p>
														<p>Nuestra metodología nos permite colaborar simultáneamente con multiples profesionales en los  proyectos.</p>
                        </div>
                    </div>
                    <!--End single team member-->
                    <!--Start single team member-->
                    <div class="single-team-member">
                        <div class="img-holder">
                            <img src="/images/bim/empresa2.jpg" alt="Awesome Image">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-holder text-center">
                            <h3>Liderazgo</h3><br>
                            <p>Para cumplir con nuestros principio de mejorar  la calidad de vida de la comunidad. En SINOVA&BIM estamos comprometidos con la comunidad y con nuestro equipo de trabajo a fomentar el liderazgo que permita el éxito de los proyectos y desarrollo profesional de nuestros colaboradores.</p>
                        </div>
                    </div>
                    <!--End single team member-->
                    <!--Start single team member-->
                    <div class="single-team-member">
                        <div class="img-holder">
                            <img src="/images/bim/empresa1.jpg" alt="Awesome Image">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-holder text-center">
                            <h3>Trabajo en equipo</h3><br>
                            <p>Desarrollo de un ambiente laboral, en la cual se busque una constante colaboración entre nuestro equipo de trabajo  que permita un flujo de comunicación continua y  un trabajo de calidad por medio de tecnologías.</p>
                        </div>
                    </div>
                    <!--End single team member-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--End our team area-->
