<!--Start breadcrumb area-->
<section class="breadcrumb-area" style="background-image: url(/images/bim/header.png);">
	<div class="container-fluid text-center">
		<h1>Cultura BIM</h1>
	</div>
</section>
<!--End breadcrumb area-->
<section class="design-desc-area sinergia">
  <div class="container">

    <div class="sec-title">
      <h2> Adoptemos una <span> CULTURA BIM</span></h2>
      <span class="decor"></span>
    </div>

    <div class="row ">

			<p>La industria de la construcción se ha caracterizado por ser uno de los mercados antiguos y mas caros debido a que la mayoría de proyectos NO cumple en costo y tiempo,<strong color="red"> aunmentando  hasta 25% el costo total del proyecto,</strong> debido en  gran medida a empresas que continuan desarrollando sus servicios de una manera antigua y desactualizada ante la tecnologia del siglo 21.Cuyos procedimientos solo fomentan el individualismo laboral,se generan conflictos como:</p>
      <p>• Procesos de construccion ineficientes.</p>
			<p>• Conflictos en la integración de proyectos y equipos de trabajo.</p>
			<p>• Escasa coordinación en el sitio de construcción </p>
			<p>y la más significativa, ¡Falta de información oportuna para la toma de desiciones!</p>

			<p> ¡Todo esto en conjunto genera  un aumento en costes para el cliente !</p>

	  </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <!--Start text-holder-->
        <div class="text-holder">
          <div class="text">
						      <p>Ante esto, comprometidos con la comunidad, <strong color="red">SINOVA&BIM</strong> busca poner solución y fomentar un modelo de servicios de trabajo eficiente y colaborativo <strong color="red">entre Arquitectos,Ingenierios,Diseñadores,Contratistas,Clientes y Usuarios Finales,</strong>tomando asi desiciones en conjunto, para el desarrollo de los proyectos,  le denominamos <strong color="red">"CULTURA BIM".</strong></p>
            <p>En medida de eliminar los conflictos para contratistas, operadores y aumento de costos para el cliente, <strong color="red">	adoptamos BIM en nuestros servicios.</strong> Como un proceso basado en modelos inteligentes para  proporcionar información para ayudarle en la  toma decisiones y planificación de trabajos de manera oportuna.</p>
					</p><strong color="red">BIM-</strong><strong color="red">B</strong>UILDING <strong color="red">I</strong>NFORMATION <strong color="red">M</strong>ODELING.</p>
						<p>La integración de información de disciplinas diferentes y la posibilidad de simular realidades complejas nos permite solucionar problemas y conflictos con costes más ajustados</p>
						<p><strong color="red">• Reducción de costos: </strong>Permite una reducción en los costos de proyectos, esto en gran medida a la construcción virtual que permite atacar desde una perspectiva COLABORATIVA el proyecto.</p>
						<p><strong color="red">• Optimización en el diseño: </strong>Optimización en el diseño con Base a propuestas de solución Colaborativas.</p>
						<p><strong color="red">• Seguridad: </strong>Desde una perspectiva virtual, que permite solucionar conflictos antes que sucedan en obra y la correcta supervisión en obra de trabajos a realizar que permiten una seguridad en sitio.</p>
						<p><strong color="red">• Mejor organización y productividad de diseño: </strong>Calidad del proyecto y reducción en el trabajo doble ya que los procesos minimizan desechos, errores y omisiones.</p>
						<p><strong color="red">• Coordinación multidisciplinaria: </strong>Clientes Mas involucrados, Mayor comprensión de las propuestas por parte de los clientes, para la toma de desciones en conjunto a nuestro equipo de trabajo.</p>
						<p><strong color="red">• Gestión del activo de por vida: </strong>Mediante el activo virtual permite hacer una gestión durante el ciclo de vida de edifico, permitiendo la gestión y operación del activo, así como sus mantenimientos y disposición final.</p>
          </div>
        </div>
        <!--End text-holder-->
      </div>
			<div class="col-md-6">
        <!--<div class="item active">-->
        <div class="single-item pdtop">
          <div class="img-holder">
      <!--      <img class="wow fadeInLeft" data-wow-delay="0.25s" src="http://tuckd.herokuapp.com/assets/sinergias/s1-5d47e2af56cd34617a945754fac58641f099ca7f2ef56dde892066e01af323d3.jpg" alt="Awesome Image" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInLeft;">  >-->
            <div class="overlay">
              <div class="box">
                <div class="content">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--</div>-->
      </div>
    </div>
    <br>
		<div class="sec-title">
			<h2>Cultura BIM en <span>la comunidad</span></h2>
			<span class="decor"></span>
		</div>

		<div class="row ">
			<p>Comprometidos con la comunidad, buscamos fomentar la adopción de una <strong color="red">CULTURA BIM </strong> en la industria de la construcción. Sabemos que hay un largo camino por recorrer para la adopción total de las tecnologias en la industria de la construcción, por lo que primordialmente como parte de nuestra <strong color="red">responsabilidad social</strong> realizamos constantemente actividades en búsqueda de <strong color="red">la rápida adopción y usos de BIM y su alcance hacia otras industrias.</strong></p><br>
			<p><strong color="red">• Cursos personalizados.</p></strong>
			<p><strong color="red">• Implementaciones especializadas.</p></strong>
			<p><strong color="red">• Presentaciones y platicas.</p></strong>
			<p><strong color="red">• Eventos de demostraciones y exposiciónes.</p></strong>
			<p><strong color="red">• Recorridos Virtuales</p></strong>
			<p><strong color="red">• Conferencias</p></strong>
			<p><strong color="red">Se parte de la cultura BIM ¡Contacta con nuestro equipo para mayores informes de nuestra CULTURA BIM!</p></strong>


		</div>
  </div>
</section>
