<!--Start breadcrumb area-->
<section class="breadcrumb-area" style="background-image: url(/images/bim/header.png);">
	<div class="container-fluid text-center">
		<h1>Nuestra Cultura BIM</h1>
	</div>
</section>
<!--End breadcrumb area-->
<section class="design-desc-area sinergia">
  <div class="container">

    <div class="sec-title">
      <h2> B<span>B</span>uilding I<span>B</span>nformation <span>M</span>odeling</h2>
      <span class="decor"></span>
    </div>

    <div class="row ">

			<p>La industria de la construcción se ha caracterizado por ser uno de los mercados antiguos y mas caros debido a que la mayoría de proyectos NO cumple en costo y tiempo,<strong color="red"> aunmentando  hasta 25% el costo total del proyecto,</strong> debido en  gran medida a empresas que continuan desarrollando sus servicios de una manera desactualizada ante la actual tecnologia del siglo 21. Con procesos que solo fomentan el individualismo laboral y no un trabajo en equipo,originando principalmente:</p>
      <p>• Procesos de construccion ineficientes.</p>
			<p>• Conflictos en la integración de proyectos y equipos de trabajo.</p>
			<p>• Atrasos en trabajos debido a escasa coordinación en el sitio de construcción </p>
			<p>y la más significativa, ¡Falta de información oportuna para la toma de desiciones!</p>
			<p> ¡Todo esto en conjunto genera  un aumento en costes para el cliente !</p>


    <br>
    <div class="row">
      <div class="col-md-6">
        <!--Start text-holder-->
        <div class="text-holder">
          <div class="text">
						      <p>Ante esto, comprometidos con la comunidad, <strong color="red">SINOVA&BIM</strong> busca poner solución y fomentar un modelo de servicios de trabajo eficiente y colaborativo <strong color="red">entre Arquitectos,Ingenierios,Diseñadores,Contratistas,Clientes y Usuarios Finales,</strong>tomando asi desiciones en conjunto, para el desarrollo de los proyectos, a esta metodologia le adoptamos como  <strong color="red">"CULTURA BIM".</strong></p>


          </div>
        </div>
        <!--End text-holder-->
      </div>
			<div class="col-md-6">
        <!--<div class="item active">-->
        <div class="single-item pdtop">
          <div class="img-holder">
            <img class="wow fadeInLeft" data-wow-delay="0.25s" src="/images/bim/BIMPARTICIPANTES.png" alt="Awesome Image" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInLeft;">
            <div class="overlay">
              <div class="box">
                <div class="content">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--</div>-->
      </div>
    </div>
    <br>
		<div class="sec-title">
			<h2>Cultura BIM en <span>la comunidad</span></h2>
			<span class="decor"></span>
		</div>

		<div class="row ">
			<p>Comprometidos con la comunidad, buscamos fomentar la adopción de una <strong color="red">CULTURA BIM </strong> en la industria de la construcción. Sabemos que hay un largo camino por recorrer para la adopción total de las tecnologias en la industria de la construcción, por lo que primordialmente como parte de nuestra <strong color="red">responsabilidad social</strong> realizamos constantemente actividades en búsqueda de <strong color="red">la rápida adopción y usos de BIM y su alcance hacia otras industrias.</strong></p><br>
			<p><strong color="red">• Cursos personalizados.</p></strong>
			<p><strong color="red">• Implementaciones especializadas.</p></strong>
			<p><strong color="red">• Presentaciones y platicas.</p></strong>
			<p><strong color="red">• Eventos de demostraciones y exposiciónes.</p></strong>
			<p><strong color="red">• Recorridos Virtuales</p></strong>
			<p><strong color="red">• Conferencias</p></strong>
			<p><strong color="red">Se parte de la cultura BIM ¡Contacta con nuestro equipo para mayores informes de nuestra CULTURA BIM!</p></strong>


		</div>
  </div>
</section>
