<!--Start breadcrumb area-->
<section class="breadcrumb-area" style="background-image: url(/images/bim/header.png);">
	<div class="container-fluid text-center">
		<h1>¿QUÉ ES BIM?</h1>
	</div>
</section>
<!--End breadcrumb area-->
<section class="design-desc-area sinergia">
  <div class="container">

    <div class="sec-title">
      <h2><span>B</span>uilding <span>I</span>nformation <span>M</span>odeling</h2>
      <span class="decor"></span>
    </div>

    <div class="row ">
		  <p> <strong color="red">BIM-Building Information Modeling</strong> es el proceso de la generación y gestión de datos e información de modelos virtuales que permite a los usuarios integrar y
				reutilizar esta información para diferentes etapas del ciclo de vida de un edificio.
			    <strong color="red">Al utilizar esta tecnología se logra obtener mejores resultados y beneficios</strong> en la etapa de pre-construcción, construcción y post-construcción.</p>
					<p>En medida de eliminar los conflictos para contratistas, operadores y aumento de costos para el cliente, <strong color="red">	integramos BIM en nuestros servicios.</strong>
						Como un proceso basado en modelos inteligentes para  proporcionar información para ayudarle en la  toma decisiones y planificación de trabajos de manera oportuna.</p>
      <p> </p>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <!--Start text-holder-->
        <div class="text-holder">
          <div class="sec-title-two">
            <h3>BIM ≠ Modelo 3D</h3>
          </div>
          <div class="text">
            <p>BIM es todo un proceso que integra y coordina el trabajo de diferentes disciplinas como lo es la arquitectura, ingeniería y construcción,
							es más que un modelo tridimensional. El modelo 3D sólo es el resultado de todo el proceso coordinado de la metodología BIM </p>
							<p><strong color="red">Principales usos de tener un modelo digital.</strong><br>
								<p>• Detección de interferencias entre elementos de construcción.</p>
								<p>• Presentaciones virtuales</p>
								<p>• Montaje de Prefabricados</p>
								<p>• Planificación de trabajos </p>
								<p>• Seguridad y supervisión en construcción</p>
								<p>• Mantenimiento</p>
								<p>• Operación y demolición</p>
								<p>• Planos de sitio</p>
								<p>• Mediciones y estimaciones.</p>
								<p>• Vistas y presentaciones</p>
								<p>• Animación de procesos</p>
								<p>• Administración y mantenimiento de instalaciones</p>
          </div>
        </div>
        <!--End text-holder-->
      </div>
			<div class="col-md-6">
        <!--<div class="item active">-->
        <div class="single-item pdtop">
          <div class="img-holder">
            <img class="wow fadeInLeft" data-wow-delay="0.25s" src="/images/bim/Ciclodevidadeedificacion.jpg" alt="Awesome Image" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInLeft;">
            <div class="overlay">
              <div class="box">
                <div class="content">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--</div>-->
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <!--Start text-holder-->
        <div class="text-holder">
          <div class="sec-title-two">

            <h3></h3>
          </div>
          <div class="text">


          </div>
        </div>
        <!--End text-holder-->
      </div>
			<div class="col-md-6">
        <div class="item active">
          <div class="single-item">
            <div class="img-holder">
              <img class="wow fadeInLeft" data-wow-delay="0.25s" src="http://tuckd.herokuapp.com/assets/sinergias/s2-fd0e803ca79c15fe4c45db373f2d4cd57e91b5df5913374ce199f795269d8196.jpg" alt="Awesome Image" style="visibility: hidden; animation-delay: 0.25s; animation-name: none;">
              <div class="overlay">
                <div class="box">
                  <div class="content">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
