<!--Start breadcrumb area-->
<section class="breadcrumb-area" style="background-image: url(/images/bim/header.png);">
	<div class="container-fluid text-center">
		<h1>¿QUÉ ES BIM?</h1>
	</div>
</section>
<!--End breadcrumb area-->
<section class="design-desc-area sinergia">
  <div class="container">

    <div class="sec-title">
      <h2>Alianzas <span>Comerciales</span></h2>
      <span class="decor"></span>
    </div>

    <div class="row ">
      <p>Parte de la fortaleza de <strong color="red">Thor Urbana</strong> ha sido el respaldo de dos firmas
        internacionalmente reconocidas como líderes en el mercado de los bienes raíces.</p>
      <p>Thor Equities, el líder global en inversión, desarrollo y administración de propiedades comerciales y de usos
        mixtos de primer nivel, quien provee
        valor añadido a través de décadas de experiencia y de su amplia red de relaciones comerciales de alcance
        internacional. GFa aporta a Thor Urbana
        experiencia incomparable en diseño, construcción y desarrollo de proyectos de la más alta calidad en México.</p>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <!--Start text-holder-->
        <div class="text-holder">
          <div class="sec-title-two">
            <h3>Thor Equities</h3>
          </div>
          <div class="text">
            <p>Thor Equities es una compañía líder en el desarrollo, manejo e inversión de bienes raíces. Se especializa
              en proyectos comerciales, residenciales,
              hoteleros y de usos mixtos en ciudades de primer nivel alrededor del mundo. </p>
            <p>La empresa maximiza el retorno de inversión de los inversionistas a través del reconocimiento del
              potencial de cada propiedad, reducción de gastos
              operativos, aumento en la satisfacción del inquilino y aprovechamiento de las tendencias del mercado para
              mantener así una ventaja competitiva a
              largo plazo.</p>
            <p>Thor Equities también es representante exclusivo de marcas globales a través de Thor Retail Advisors, un
              agente de arrendamiento de primera clase
              para propiedades de alto nivel en todo el mundo.</p>
          </div>
        </div>
        <!--End text-holder-->
      </div>
			<div class="col-md-6">
        <!--<div class="item active">-->
        <div class="single-item pdtop">
          <div class="img-holder">
            <img class="wow fadeInLeft" data-wow-delay="0.25s" src="/images/bim/Ciclodevidadeedificacion.jpg" alt="Awesome Image" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInLeft;">
            <div class="overlay">
              <div class="box">
                <div class="content">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--</div>-->
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <!--Start text-holder-->
        <div class="text-holder">
          <div class="sec-title-two">
            <h3>GFA</h3>
          </div>
          <div class="text">
            <p>GFa Grupo Inmobiliario es una de las firmas mexicanas más importantes y sólidas de México. Ofrecen todos
              los servicios de manera integral para garantizar el
              mayor éxito de los desarrollos inmobiliarios en los que se comprometen. Intervienen en la promoción y
              desarrollo inmobiliario, planeación financiera, el diseño
              y coordinación arquitectónica, la coordinación de obra, la comercialización y la administración de
              activos.</p>
            <p>La Empresa actualmente lleva más de 50 años de experiencia en la que han sabido interpretar las
              necesidades y esencia de cada época con espacios residenciales,
              corporativos, turísticos e institucionales, que trascienden a estilos y modas.</p>

          </div>
        </div>
        <!--End text-holder-->
      </div>
			<div class="col-md-6">
        <div class="item active">
          <div class="single-item">
            <div class="img-holder">
              <img class="wow fadeInLeft" data-wow-delay="0.25s" src="http://tuckd.herokuapp.com/assets/sinergias/s2-fd0e803ca79c15fe4c45db373f2d4cd57e91b5df5913374ce199f795269d8196.jpg" alt="Awesome Image" style="visibility: hidden; animation-delay: 0.25s; animation-name: none;">
              <div class="overlay">
                <div class="box">
                  <div class="content">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
