<!--Start breadcrumb area-->
<section class="breadcrumb-area" style="background-image: url(/images/bim/header.png);">
	<div class="container-fluid text-center">
		<h1>¿Qué es BIM?</h1>
	</div>
</section>
<!--End breadcrumb area-->
<section class="design-desc-area sinergia">
  <div class="container">

    <div class="sec-title">
    <h2> <span>B</span>uilding <span>I</span>nformation <span>M</span>odeling</h2>
      <span class="decor"></span>
    </div>

    <div class="row ">
			<strong color="red">	BIM (Building Information Modelling) </strong> es el proceso de la generación y gestión de datos e información de modelos
			 virtuales que permite a los usuarios integrar y reutilizar esta información para diferentes etapas del ciclo de vida de un edificio.
		<strong color="red">	Al utilizar esta tecnología se logra obtener mejores resultados y beneficios </strong>en la etapa de pre-construcción, construcción y post-construcción

    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <!--Start text-holder-->
        <div class="text-holder">
          <div class="sec-title-two">
            <h3><span>BIM ≠ Modelo 3D</span></h3>
          </div>
          <div class="text">
            <p>BIM es todo un proceso que integra y coordina el trabajo de diferentes disciplinas como lo es la arquitectura, ingeniería y construcción,
							es más que un solo modelo tridimensional.
							 Un modelo tridimensional solo es el resultado de todo el proceso coordinado de la metodología BIM.
							 Este proceso contribuye al trabajo en equipo ya que tanto los ingenieros, constructores y arquitectos
							 trabajan simultaneamente en el proyecto.</p>
          </div>
        </div>


				<p>En medida de eliminar los conflictos para contratistas, operadores y aumento de costos para el cliente, <strong color="red">	adoptamos BIM a nuestros servicios.</strong> Como un proceso basado en modelos inteligentes
					para  proporcionar información para ayudarle en la  toma decisiones y planificación de trabajos de manera oportuna mediante la gestión de los modelos digitales requeridos</p>

				</div>
				<div class="text">

		    <!--End text-holder-->
      </div>
			<div class="col-md-6">
        <!--<div class="item active">-->
        <div class="single-item pdtop">
          <div class="img-holder">
            <img class="wow fadeInLeft" data-wow-delay="0.25s" src="/images/bim/ciclodevidadeedificacion.jpg" alt="Awesome Image" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInLeft;">
            <div class="overlay">
              <div class="box">
                <div class="content">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--</div>-->
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <!--Start text-holder-->
        <div class="text-holder">
          <div class="sec-title-two">
						<h3>SINOVA + BIM</h3>

					<p>			1. Encontrar incompatibilidad de planos	</p>
					<p>2. Obtener cantidades de obra de una manera más precisa	</p>
					<p>3. Encontrar interferencias de elementos entre distintas especialidades	</p>
					<p>4. Visualizar cómo se verá el proyecto terminado	</p>
					<p>5. Estimar el costo total o por etapas del proyecto antes de su construcción	</p>
					<p>6. Integrar y reutilizar esta información para diferentes etapas del proyecto	</p>
					7. Modificar y proponer diseños en menores tiempos	</p>
					8. En el diseño podemos simular y analizar aspectos antes solo visibles cuando se transformaban en problemas	</p>
					9. Anticiparse y poder Reducir costos, riesgos y menor tiempo de ejecución de obra	</p>

					</p>

          </div>
        </div>
        <!--End text-holder-->
      </div>
			<div class="col-md-6">
        <div class="item active">
          <div class="single-item">
            <div class="img-holder">
              <img class="wow fadeInLeft" data-wow-delay="0.25s" src="http://tuckd.herokuapp.com/assets/sinergias/s2-fd0e803ca79c15fe4c45db373f2d4cd57e91b5df5913374ce199f795269d8196.jpg" alt="Awesome Image" style="visibility: hidden; animation-delay: 0.25s; animation-name: none;">
              <div class="overlay">
                <div class="box">
                  <div class="content">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
