<!--Start breadcrumb area-->
<section class="breadcrumb-area" style="background-image: url(/images/bim/header.jpg);">
	<div class="container-fluid text-center">
		<h1>Implementa BIM</h1>
	</div>
</section>
<!--End breadcrumb area-->
<section class="about-interrio-area">
  <div class="container">
    <div class="sec-title">
      <h2>Nuestra <span>Trayectoria</span></h2>
      <span class="decor"></span>
    </div>
    <div class="row">

      <p>Contamos con más de 150 años de experiencia conjunta de nuestros fundadores y principales directivos en el área de
         bienes raíces. Hemos recaudado más de USA$ 750 millones de fondos institucionales y de inversionistas
         privados a lo largo de nuestra trayectoria para la inversión en 13 proyectos, de los cuales 12 se encuentran en
         México (5 en la Ciudad de México y área metropolitana; uno en Guadalajara; tres en playa del Carmen; uno en Mérida;
         uno en Los Cabos; y uno en San Luis Potosí), y uno más en Belice.  </p>

    </div>

    <div class="row">

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="widget text-justify">
          <br>

          <div class="clearfix"></div>
          <div id="historia">
            <section class="slice  no-padding">

              <div class="infoGeneral">


                <div class="w-section inverse">
                  <div class="">

                    <ul class="timeline">
                      <li class="year"><strong>2016</strong></li>
                      <li class="event  left_side ">
                        <div class="event-date">
                          <ul>
                            <li>Iniciamos el desarrollo de un luxury Hotel and residencies en Los Cabos
                              <br>Continuamos con nuestra estrategia de diseñar y desarrollar proyectos innovadores y diferenciados en los mercados con alto potencial en México
                            </li>
                          </ul>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="event-body">
                              <div class="row">
                                <div class="col-md-12">
                                  <img src="http://tuckd.herokuapp.com/assets/historia/uno-6f3e3bcad7b98875c75a1bf7bec29dfdc437fb4a6e41893312892eb9230fade4.jpg" class="img-responsive" alt="TU">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="event  right_side">
                        <div class="event-date ">
                          <ul>
                            <li>Iniciamos las operaciones del Lifestyle Hotel en Playa del Carmen
                              <br>Adquirimos un Lifstyle Retail Center en San Luis Potosí </li>
                          </ul>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="event-body">
                              <div class="row">
                                <div class="col-md-12">
                                  <img src="http://tuckd.herokuapp.com/assets/historia/dos-c41d5fd2e248ae089531f76fd894b2a979bbacf9326554744c7c6a92bd2e496c.jpg" class="img-responsive" alt="TU">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </li>


                      <!--year-->
                      <li class="year">2015</li>
                      <li class="event  right_side ">
                        <div class="event-date">
                          <ul>
                            <li>Obtuvimos nuestro segundo vehículo de inversión a través de un acuerdo con un fondo institucional de pensiones canadiense
                              <br>Iniciamos el desarrollo de Calle Corazón y The Shops at 5<sup>ta</sup> &amp; 8<sup>va</sup></li>
                          </ul>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="event-body">
                              <div class="row">
                                <div class="col-md-12">
                                  <img src="http://tuckd.herokuapp.com/assets/historia/tres-a786c1e1f1810d81ece6b22e0ca0f5b4b547a9b4ee442c97d54c721f379f573e.jpg" class="img-responsive" alt="TU">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="event left_side ">

                        <div class="event-date ">
                          <ul>
                            <li>Adquirimos el luxury hotel &amp; residencies en Los Cabos, luxury resort, branded residencies and estate lots en Belice y The Harbor en Mérida
                              <br>Adquirimos para reposicionamiento de La Palapa en Playa del Carmen <br>
                              Iniciamos el desarrollo de The Harbor en Mérida, The Landmark en Guadalajara y Town Square en Metepec  </li>
                          </ul>

                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="event-body">
                              <div class="row">
                                <div class="col-md-12">
                                  <img src="http://tuckd.herokuapp.com/assets/historia/cuatro-549432cf558a9dba09e712082730bd17b024ee861fb8ab310a62e9177c4e82b9.jpg" class="img-responsive" alt="TU">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </li>

                      <!-- Eventos 2014-2015 -->
                      <li class="year">2014</li>

                      <li class="event left_side  ">
                        <div class="event-date">
                          <ul>
                            <li>Adquirimos para reposicionamiento Altavista 147 y Masaryk 120 en Ciudad de México </li>
                            <li>Adquirimos terrenos para los desarrollos de Town Square en Metepec, Luxury hotel y The Park en Ciudad de México ambos</li>
                            <li>Iniciamos el desarrollo de The Shops at 5<sup>ta</sup> &amp; 8<sup>va</sup></li>
                          </ul>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="event-body">
                              <div class="row">
                                <div class="col-md-12">

                                  <img src="http://tuckd.herokuapp.com/assets/historia/cinco-d24d39ce4031ef5a106d337c48860fe3a76a6865bbb114304cc7abc5f80254d7.jpg" class="img-responsive" alt="TU">

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>

                      <li class="year">2013</li>

                      <li class="event right_side" style=" top: 0">
                        <div class="event-date">
                          <ul>
                            <li>Iniciamos el desarrollo de Calle Corazón en Playa del Carmen </li>
                            <li>Adquirimos el terreno para el desarrollo de The Landmark en Guadalajara </li>
                          </ul>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="event-body">
                              <div class="row">
                                <div class="col-md-12">
                                  <img src="http://tuckd.herokuapp.com/assets/historia/seis-8b39b46a32f9beb788e8f9ccfcd60c1c70a44bea657a3131343fd810ed29d949.jpg" class="img-responsive" alt="TU">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </li>


                      <li class="year">2012</li>


                      <li class="event  left_side mover">
                        <div class="event-date ">
                          <ul>
                            <li>Hicimos el ensamblaje de Calle Corazón, Playa del Carmen </li>
                            <li>Adquirimos los terrenos para The Shops at 5<sup>ta</sup> &amp; y 8<sup>va</sup> y el lifestyle hotel, en Playa de Carmen</li>
                          </ul>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="event-body">
                              <div class="row">
                                <div class="col-md-12">
                                  <img src="http://tuckd.herokuapp.com/assets/historia/siete-45cbbd9abd7a013a4e1cb101f79412c7037da7ab8c943f8fb6b7caff0b570d83.jpg" class="img-responsive" alt="UA">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </li>
                      <li class="event  right_side mover">
                        <div class="event-date ">
                          <ul>
                            <li>Jaime Fasja, Jimmy Arakanji y Joseph J. Sitt fundan <strong>Thor Urbana</strong></li>
                            <li>Obtuvimos nuestro primer vehículo de inversión mediante un acuerdo con un fondo institucional de pensiones canadiense  </li>
                            <li>Participación de HNW</li>
                          </ul>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="event-body">
                              <div class="row">
                                <div class="col-md-12">
                                  <img src="http://tuckd.herokuapp.com/assets/historia/ocho-72b39268ada834c441925cf186ef2c30d65ec169017385cfa13c4ce48b9b55bb.jpg" class="img-responsive" alt="UA">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </li>
                    </ul>
                  </div>
                </div>

              </div>

            </section>

          </div>
        </div><!-- end widget -->
      </div><!-- end col-lg-12 -->


    </div><!-- end row -->
    <div class="clearfix"></div>
    <br>
  </div><!-- end container -->
</section>
