<!--Start breadcrumb area-->
<section class="breadcrumb-area" style="background-image: url(/images/bim/header.png);">
	<div class="container-fluid text-center">
		<h1>Consulta de servicios</h1>
	</div>
</section>
<!--End breadcrumb area-->
<section class="about-interrio-area">
  <div class="container">
    <div class="sec-title">
      <h1>Obten la Confianza y Calidad en tus proyectos con Tecnología.</h1>
      <span class="decor"></span>

			<p><strong color="red"> ¡Antes de gastar recursos economicos en tu proyecto! Consulta con SINOVA&BIM</strong><br>
			Al realizar una edificación virtualmente, antes de gastar recursos en la construcción, SINOVA&BIM pone a su disposición diversos servicios de análisis de factibilidad y ahorro de costos mediante la coordinación de los modelos digitales y la tecnologia BIM. <p>
     	<p>	<strong color="red">•Nos integramos a empresas y equipos de profesionales</strong> para el desarrollo en conjunto del modelo digital BIM de su disciplina y a la medida de sus necesidades.</p>
			<strong color="red">•Desarrollamos la coordinación e integración de los distintos modelos digitales</strong> de acuerdo con los distintos requerimientos del proyecto, desde el modelo arquitectónico hasta el modelo de construcción.<strong color="red"> El éxito del  proyecto depende de una correcta gestión de los modelos digitales y su implementación en sitios de construcción.</strong><p>
			<p>	<strong color="red">•Gestión del activo digital de la edificación de acuerdo a las distintas necesidades.</strong> Gestiona tu activo digital útil durante TODO el ciclo de vida de la edificación, para la operación y mantenimiento.</p><br>
    <div class="row">
				<h4>SINOVA&BIM implementa la tecnología BIM en los proyectos: </h4>
				<p> 1. Para poder encontrar incompatibilidad de planos</p>
				<p>2. Coordinación del programa de obra </p>
				<p>3. Encontrar interferencias de elementos de construcción</p>
				<p>4. Visualizar cómo se verá el proyecto terminado</p>
				<p>5. Estimar el costo total o por etapas del proyecto antes de su construcción</p>
				<p>6. Integrar y reutilizar esta información para diferentes etapas del proyecto</p>
				<p>7. Modificar diseños en menores tiempos</p>
				<p>8. En el diseño podemos simular y analizar aspectos, que antes era visibles cuando se transformaban en problemas</p>
				<p>9. Anticiparse y poder reducir costos, riesgos y menor tiempo de ejecución del proyecto en la obra </p>
				<p>  </p>
				<div class="row"
    </div>

    <div class="row">

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="widget text-justify">
          <br>

          <div class="clearfix"></div>
          <div id="historia">
            <section class="slice  no-padding">

              <div class="infoGeneral">


                <div class="w-section inverse">
                  <div class="">

                    <ul class="timeline">
                      <li class="year"><strong>Ofrecemos</strong></li>
                      <li class="event  left_side ">
                        <div class="event-date">
                          <ul>
                            <li><h3>1.-Cursos e implementación BIM</h3></li>
                          </ul>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="event-body">
                              <div class="row">
                                <div class="col-md-12">
                                  <img src="/images/bim/cursos.jpg" class="img-responsive" alt="TU">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="event  right_side">
                        <div class="event-date ">
                          <ul>
                            <li><h3>2.-BIM a Construcciones</h3></li>
                          </ul>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="event-body">
                              <div class="row">
                                <div class="col-md-12">
                                  <img src="/images/bim/servicios1.jpg" class="img-responsive" alt="TU">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </li>


                      <!--year-->
											<li class="">&nbsp;</li>
                      <li class="year">&nbsp;</li>
                      <li class="event  right_side ">
                        <div class="event-date">
                          <ul>
                            <li><h3>4.-Coordinación de Especilidades</h3>	</li>
                          </ul>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="event-body">
                              <div class="row">
                                <div class="col-md-12">
                                  <img src="/images/bim/servicios2.jpg" class="img-responsive" alt="TU">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="event left_side ">

                        <div class="event-date ">
                          <ul>
                            <li><h3>3.Modelación Digital</h3></li>
                          </ul>

                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="event-body">
                              <div class="row">
                                <div class="col-md-12">
                                  <img src="/images/bim/servicios4.jpg" class="img-responsive" alt="TU">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </li>


                      <li class="event  left_side mover">
                        <div class="event-date ">
                          <ul>
                            <li><h3>5.-Simulaciones y logistica</h3></li>
                          </ul>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="event-body">
                              <div class="row">
                                <div class="col-md-12">
                                  <img src="/images/bim/servicios6.jpg" class="img-responsive" alt="UA">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </li>
                      <li class="event  right_side mover">
                        <div class="event-date ">
                          <ul>
                            <li><h3>6.-Gestion del Modelo Digital</h3></li>
                          </ul>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="event-body">
                              <div class="row">
                                <div class="col-md-12">
                                  <img src="/images/bim/servicios5.jpg" class="img-responsive" alt="UA">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </li>
                    </ul>
                  </div>
                </div>

              </div>

            </section>

          </div>
        </div><!-- end widget -->
      </div><!-- end col-lg-12 -->


    </div><!-- end row -->
    <div class="clearfix"></div>
    <br>
  </div><!-- end container -->
</section>
