<!--Start breadcrumb area-->
<section class="breadcrumb-area" style="background-image: url(/images/bim/header.png);">
	<div class="container-fluid text-center">
		<h1>Consulta de servicios</h1>
	</div>
</section>
<!--End breadcrumb area-->
<section class="about-interrio-area">
  <div class="container">
    <div class="sec-title">
      <h1>Obten la Confianza y Calidad en tus Edificaciones con Tecnología.</h1>
      <span class="decor"></span>
    </div>
    <div class="row">

      <p><strong color="red">Desarrollamos activos digitales </strong>de acuerdo con los distintos niveles de desarrollo de acuerdo con el requerimiento del proyecto, desde el modelo arquitectónico hasta el modelo de coordinación multidisciplinas. Nos integramos a equipos de profesionales para <strong color="red">el éxito de los proyectos en sitios de construcción.</strong></p><br>
			<p><strong color="red"> ¡Antes de gastar recursos economicos en tu proyecto! Consulta con SINOVA&BIM</strong><br>
			<p>	Al realizar una edificación virtualmente, antes de gastar recursos en la construcción, SINOVA&BIM pone a su disposición diversos servicios de análisis de factibilidad y ahorro de costos, tiempos y seguridad en la obra. <strong color="red">Administra tu activo digital útil durante TODO el ciclo de vida de la edificación, </strong>desde su concepción hasta su demolición.</p><br>
			<p><strong color="red">Principales ventajas.</strong><br>
				<p>• Detección de interferencias entre elementos de construcción.</p>
				<p>• Presentaciones virtuales</p>
				<p>• Montaje de Prefabricados</p>
				<p>• Planificación de trabajos </p>
				<p>• Seguridad y supervisión en construccón</p>
				<p>• Mantenimiento</p>
				<p>• Operación y demolición</p>
				<p>• Planos de sitio</p>
				<p>• Mediciones y estimaciones.</p>
				<p>• Vistas y presentaciones</p>
				<p>• Animación de procesos</p>
				<p>• Administración y mantenimiento de instalaciones</p>



    </div>

    <div class="row">

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="widget text-justify">
          <br>

          <div class="clearfix"></div>
          <div id="historia">
            <section class="slice  no-padding">

              <div class="infoGeneral">


                <div class="w-section inverse">
                  <div class="">

                    <ul class="timeline">
                      <li class="year"><strong>Servicios</strong></li>
                      <li class="event  left_side ">
                        <div class="event-date">
                          <ul>
                            <li><h3>Drones:Levantamientos de sitio y existentes</h3></li>
                          </ul>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="event-body">
                              <div class="row">
                                <div class="col-md-12">
                                  <img src="/images/bim/servicios3.jpg" class="img-responsive" alt="TU">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="event  right_side">
                        <div class="event-date ">
                          <ul>
                            <li><h3>Diseño y Presentaciones virtual</h3></li>
                          </ul>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="event-body">
                              <div class="row">
                                <div class="col-md-12">
                                  <img src="/images/bim/servicios4.jpg" class="img-responsive" alt="TU">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </li>


                      <!--year-->
											<li class="">&nbsp;</li>
                      <li class="year">&nbsp;</li>
                      <li class="event  right_side ">
                        <div class="event-date">
                          <ul>
                            <li><h3>Coordinación de Trabajos</h3>	</li>
                          </ul>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="event-body">
                              <div class="row">
                                <div class="col-md-12">
                                  <img src="/images/bim/servicios2.jpg" class="img-responsive" alt="TU">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="event left_side ">

                        <div class="event-date ">
                          <ul>
                            <li><h3>Supervisión y Construcción</h3></li>
                          </ul>

                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="event-body">
                              <div class="row">
                                <div class="col-md-12">
                                  <img src="/images/bim/servicios6.jpg" class="img-responsive" alt="TU">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </li>


                      <li class="event  left_side mover">
                        <div class="event-date ">
                          <ul>
                            <li><h3>Modelado conforme a obra(As-built)</h3></li>
                          </ul>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="event-body">
                              <div class="row">
                                <div class="col-md-12">
                                  <img src="/images/bim/servicios5.jpg" class="img-responsive" alt="UA">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </li>
                      <li class="event  right_side mover">
                        <div class="event-date ">
                          <ul>
                            <li><h3>Planificación de Construcción y fases</h3></li>
                          </ul>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="event-body">
                              <div class="row">
                                <div class="col-md-12">
                                  <img src="/images/bim/servicios1.jpg" class="img-responsive" alt="UA">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </li>
                    </ul>
                  </div>
                </div>

              </div>

            </section>

          </div>
        </div><!-- end widget -->
      </div><!-- end col-lg-12 -->


    </div><!-- end row -->
    <div class="clearfix"></div>
    <br>
  </div><!-- end container -->
</section>
