<!--Start breadcrumb area-->
<section class="breadcrumb-area" style="background-image: url(/images/bim/header.png);">
	<div class="container-fluid text-center">
		<h1>Proyectos</h1>
	</div>
</section>
<!--End breadcrumb area-->

<!--Start project with text area-->
<section id="project-area" class="pro-withtext-area">
    <div class="container">
        <ul class="project-filter post-filter text-center">
            <li class="active" data-filter=".filter-item"><span>Ver Todos(6)</span></li>
            <li data-filter=".corpo"><span>Corporativo(1)</span></li>
            <li data-filter=".ofi"><span>Oficinas(1)</span></li>
            <li data-filter=".resi"><span>Residencial(1)</span></li>
            <li data-filter=".rest"><span>Restaurant (1)</span></li>
            <li data-filter=".indus"><span>Industrial (2)</span></li>
        </ul>
        <div class="row project-content masonary-layout filter-layout">
            <!--Start single project item-->
            <div class="single-project-item col-md-4 col-sm-4 col-xs-12 filter-item ofi ">
                <div class="img-holder">
                    <img src="/images/bim/proyectos2.jpg" alt="Awesome Image">
                    <div class="overlay">
                        <div class="box">
                            <div class="content">
                                <div class="icon-holder">
            <!--End si                          <a href=""  title="Interrio Project"><span class="flaticon-cross"></span></a>   ngle project item-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-holder">
                    <a href=""><h3>Edificio Oficinas Lumus</h3></a>
                    <p>Oficinas</p>
                </div>
            </div>
            <!--End single project item-->
            <!--Start single project item-->
            <div class="single-project-item col-md-4 col-sm-4 col-xs-12 filter-item resi">
                <div class="img-holder">
                    <img src="/images/bim/proyectos5.jpg" alt="Awesome Image">
                    <div class="overlay">
                        <div class="box">
                            <div class="content">
                                <div class="icon-holder">
                    <!--End sing             <a href=""  title="Interrio Project"><span class="flaticon-cross"></span></a>   le project item-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-holder">
                    <a href="" ><h3>Departamentos V5</h3></a>
                    <p>Residencial</p>
                </div>
            </div>
            <!--End single project item-->
            <!--Start single project item-->
            <div class="single-project-item col-md-4 col-sm-4 col-xs-12 filter-item rest">
                <div class="img-holder">
                    <img src="/images/bim/proyectos3.jpg" alt="Awesome Image">
                    <div class="overlay">
                        <div class="box">
                            <div class="content">
                                <div class="icon-holder">
                    <!--End             <a href=""  title="Interrio Project"><span class="flaticon-cross"></span></a>  -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-holder">
                    <a href="" ><h3>Plaza Landera</h3></a>
                    <p>Restaurant</p>
                </div>
            </div>
            <!--End single project item-->
            <!--Start single project item-->
            <div class="single-project-item col-md-4 col-sm-4 col-xs-12 filter-item indus">
                <div class="img-holder">
                    <img src="/images/bim/proyectos7.jpg" alt="Awesome Image">
                    <div class="overlay">
                        <div class="box">
                            <div class="content">
                                <div class="icon-holder">
          <!--End singl                       <a href="" title="Interrio Project"><span class="flaticon-cross"></span></a>   e project item-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-holder">
                    <a href="" ><h3>Naves Zonas central</h3></a>
                    <p>Industrial</p>
                </div>
            </div>
            <!--End single project item-->
            <!--Start single project item-->
            <div class="single-project-item col-md-4 col-sm-4 col-xs-12 filter-item resid indus">
                <div class="img-holder">
                    <img src="/images/bim/proyectos6.jpg" alt="Awesome Image">
                    <div class="overlay">
                        <div class="box">
                            <div class="content">
                                <div class="icon-holder">
                      <!--End singl            <a href=""  title="Interrio Project"><span class="flaticon-cross"></span></a>  e project item-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-holder">
                    <a href="" ><h3>Cuartos de instalaciones y maquinas</h3></a>
                    <p>Industrial</p>
                </div>
            </div>
            <!--End single project item-->
            <!--Start single project item-->
            <div class="single-project-item col-md-4 col-sm-4 col-xs-12 filter-item resta corpo">
                <div class="img-holder">
                    <img src="/images/bim/proyectos4.jpg" alt="Awesome Image">
                    <div class="overlay">
                        <div class="box">
                            <div class="content">
                                <div class="icon-holder">
                                <!--End singl     <a href=""  title="Interrio Project"><span class="flaticon-cross"></span></a>e  project item-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-holder">
                    <a href="" ><h3>Edificio estructura Acero</h3></a>
                    <p>Corporativo</p>
                </div>
            </div>
            <!--End single project item-->



        </div>

    </div>
</section>
<!--End project with text area-->


<!--<a href="<%= "/#{I18n.locale}/proyectos/proyecto2" %>" ><h3>Departamentos V5</h3></a>-->
