<!--Start breadcrumb area-->
<section class="breadcrumb-area" style="background-image: url(/images/breadcrumb/breadcrumb-bg.jpg);">
	<div class="container-fluid text-center">
		<h1>Proyecto 2</h1>
	</div>
</section>
<!--End breadcrumb area-->

<!--Start project single v1 area-->
<section id="project-single-area" class="project-single-v1-area">
    <div class="container">
        <!--Start project carousel-->
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <div id="project-single-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#project-single-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#project-single-carousel" data-slide-to="1"></li>
                        <li data-target="#project-single-carousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="single-item">
                                <div class="img-holder">
                                    <img src="/images/project/pj-single/pj-single-v1-1.jpg" alt="Awesome Image">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="single-item">
                                <div class="img-holder">
                                    <img src="/images/project/pj-single/pj-single-v1-2.jpg" alt="Awesome Image">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="single-item">
                                <div class="img-holder">
                                    <img src="/images/project/pj-single/pj-single-v1-3.jpg" alt="Awesome Image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="project-info">
                    <h3>Project Info</h3>
                    <p>Must explain to you how all this mistaken sed idea of denouncing pleasure and praising pain was born and gives you a completed system who do not we know  how to pursuing pleasures rationally seds encounter consequences that are extremely. </p>
                    <ul class="project-info-list">
                        <li>
                            <div class="icon-holder">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </div>
                            <div class="text-holder">
                                <h5>Client</h5>
                                <p>Modern Designers</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <i class="fa fa-folder-open" aria-hidden="true"></i>
                            </div>
                            <div class="text-holder">
                                <h5>Category</h5>
                                <p>Residential Design</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </div>
                            <div class="text-holder">
                                <h5>Start Date</h5>
                                <p>17th Dec 2015</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </div>
                            <div class="text-holder">
                                <h5>End Date</h5>
                                <p>21st Feb 2016</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <i class="fa fa-usd" aria-hidden="true"></i>
                            </div>
                            <div class="text-holder">
                                <h5>Project Value</h5>
                                <p>$2650.00</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </div>
                            <div class="text-holder">
                                <h5>Location</h5>
                                <p>Newyork City, USA</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End project carousel-->
        <!--Start project description content-->
        <div class="row">
            <div class="col-md-12">
                <div class="project-description-content">
                    <h3>Project Description</h3>
                    <div class="text">
                        <p>This formal living room not only needed a focal point but color and style too. Using a high contrast palette of cool grey and blue against the warm cream and wood tones created a dramatic, yet inviting place for lounging and entertaining. Transitional lighting and furniture complete this beautiful space. and Notice this room’s natural feel – the wide planked espresso stained hardwood, and a furniture zone highlighted by a silk and wool rug that mimics the feeling of sand.
                        </p>
                        <p>Using a high contrast palette of cool grey and blue against the warm cream and wood tones created a dramatic, yet inviting place for lounging and entertaining. Transitional lighting and furniture complete this beautiful space. and Notice this room’s natural feel.
                        </p>
                    </div>
                    <div class="project-manager-box">
                        <h4>Great explorer of the truth, the master-builder of human happiness no one rejects, dislikes, or avoids pleasure itself, because it is pleasure,but because those who do not know how extremely Poweful. </h4>
                        <h5>Mattew Stocks <span>- Project Manager</span></h5>
                    </div>
                </div>
            </div>
        </div>
        <!--End project description content-->
        <!--Start related project items-->
        <div class="row">
            <div class="related-project-items">
                <div class="sec-title text-center">
                    <h2>Related Projects</h2>
                </div>
                <!--Start single project item-->
                <div class="col-md-4">
                    <div class="single-project-item">
                        <div class="img-holder">
                            <img src="/images/project/pj-single/rel-pj-1.jpg" alt="Awesome Image">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <div class="icon-holder">
                                            <a href="/images/project/pj-single/rel-pj-1.jpg" data-rel="prettyPhoto" title="Interrio Project"><span class="flaticon-cross"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-holder">
                            <a href="project-single-v1.html"><h3>Office Restroom</h3></a>
                            <p>Corporate</p>
                        </div>
                    </div>
                </div>
                <!--End single project item-->
                <!--Start single project item-->
                <div class="col-md-4">
                    <div class="single-project-item">
                        <div class="img-holder">
                            <img src="/images/project/pj-single/rel-pj-2.jpg" alt="Awesome Image">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <div class="icon-holder">
                                            <a href="/images/project/pj-single/rel-pj-2.jpg" data-rel="prettyPhoto" title="Interrio Project"><span class="flaticon-cross"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-holder">
                            <a href="project-single-v1.html"><h3>Modern Living Room</h3></a>
                            <p>Residential</p>
                        </div>
                    </div>
                </div>
                <!--End single project item-->
                <!--Start single project item-->
                <div class="col-md-4">
                    <div class="single-project-item">
                        <div class="img-holder">
                            <img src="/images/project/pj-single/rel-pj-3.jpg" alt="Awesome Image">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <div class="icon-holder">
                                            <a href="/images/project/pj-single/rel-pj-3.jpg" data-rel="prettyPhoto" title="Interrio Project"><span class="flaticon-cross"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-holder">
                            <a href="project-single-v1.html"><h3>Unique TV Display</h3></a>
                            <p>Corporate</p>
                        </div>
                    </div>
                </div>
                <!--End single project item-->

            </div>
        </div>
        <!--End related project items-->
    </div>
</section>
<!--End project single v1 area-->
