<!--Start breadcrumb area-->
<section class="breadcrumb-area" style="background-image: url(/images/breadcrumb/breadcrumb-bg.jpg);">
	<div class="container-fluid text-center">
		<h1>Colabora con nosotros</h1>
	</div>
</section>
<!--End breadcrumb area-->

<!--Start contact v1 area-->
<section class="contact-v1-area">
    <div class="container">
        <div class="sec-title text-center">
            <h2>Colabora con  Sinova&BIM</h2>
            <p>Si  eres proveedor de servicios o productos de la industria de la construcción y/o edificación inteligente, o requieres solicitud de empleo, ponte en contacto con el equipo. ¡Unete a cumplir con la misión de la edificación inteligente! </p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="img-holder">
                    <img src="/images/bim/contacto.jpg" alt="Awesome Image">
                </div>
                <div class="contact-info">
                    <div class="row">
                        <!--Start single item-->
                        <div class="col-md-6">
                            <div class="single-item">
                                <div class="icon-holder">
                                    <span class="flaticon-building"></span>
                                </div>
                                <div class="text-holder">
                                    <h5>Areas de oportunidad:</h5>
																		<p> Desarrollo de software y programación</p>
																		  <p> Ingenieria civil</p>
																			  <p>Arquitectos</p>
																				<p>Ingenieros industriales</p>
																				<p>Ingenierios Electricos</p>
																				<p>Ingenieria Mecatronica</p>

																				<p>Diseño de interiores</p>
																				<p>Diseño gráfico</p>
																				<p>Marketing y Publicidad</p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <!--End single item-->
                        <!--Start single item-->
                        <div class="col-md-6">
                            <div class="single-item">
                                <div class="icon-holder">
                                    <span class="flaticon-technology"></span>
                                </div>
                                <div class="text-holder">
                                    <h5></h5>
																			  <p>Merida, Yucatan,México</p>




                                </div>
                            </div>
                        </div>
                        <!--End single item-->
                        <!--Start single item-->
                        <div class="col-md-6">
                            <div class="single-item">

                                <div class="text-holder">
                                    <h5></h5>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <!--End single item-->
                        <!--Start single item-->
                        <div class="col-md-6">
                            <div class="single-item">

                                <div class="text-holder">
                                    <h5></h5>
                                    <p>
                                </div>
                            </div>
                        </div>
                        <!--End single item-->
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact-form-v1">
                    <form action="" id="contact-form">
                        <input type="text" name="name" placeholder="Nombre*">
                        <input type="text" name="mail" placeholder="Email*">
                        <input type="text" name="phnumber" placeholder="Celular*">
                        <textarea name="message" placeholder="Tu mensaje "></textarea>
                        <button class="thm-btn bg-cl-1" type="submit">Enviar mensaje</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End contact v1 area-->
