<!--Start breadcrumb area-->
<section class="breadcrumb-area" style="background-image: url(/images/breadcrumb/breadcrumb-bg.jpg);">
	<div class="container-fluid text-center">
		<h1>Colabora con nosotros</h1>
	</div>
</section>
<!--End breadcrumb area-->

<!--Start contact v1 area-->
<section class="contact-v1-area">
    <div class="container">
        <div class="sec-title text-center">
            <h2>Get Touch with Us</h2>
            <p>If you would like to get in contact with the Interior, you have a number of options you can call or mail to below option, our team will support you as soon as possible.</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="img-holder">
                    <img src="/images/resources/contact.jpg" alt="Awesome Image">
                </div>
                <div class="contact-info">
                    <div class="row">
                        <!--Start single item-->
                        <div class="col-md-6">
                            <div class="single-item">
                                <div class="icon-holder">
                                    <span class="flaticon-building"></span>
                                </div>
                                <div class="text-holder">
                                    <h5>Address:</h5>
                                    <p>256 Interior the good, New York</p>
                                </div>
                            </div>
                        </div>
                        <!--End single item-->
                        <!--Start single item-->
                        <div class="col-md-6">
                            <div class="single-item">
                                <div class="icon-holder">
                                    <span class="flaticon-technology"></span>
                                </div>
                                <div class="text-holder">
                                    <h5>Phone:</h5>
                                    <p>(+321) 567 89 0123, 890 12 3456</p>
                                </div>
                            </div>
                        </div>
                        <!--End single item-->
                        <!--Start single item-->
                        <div class="col-md-6">
                            <div class="single-item">
                                <div class="icon-holder">
                                    <span class="flaticon-new-email-outline"></span>
                                </div>
                                <div class="text-holder">
                                    <h5>Email Address:</h5>
                                    <p>Supportteam@Interiors.com</p>
                                </div>
                            </div>
                        </div>
                        <!--End single item-->
                        <!--Start single item-->
                        <div class="col-md-6">
                            <div class="single-item">
                                <div class="icon-holder">
                                    <span class="flaticon-clock"></span>
                                </div>
                                <div class="text-holder">
                                    <h5>Working Hours:</h5>
                                    <p>Mon - Sat Day: 09.00 to 18.00</p>
                                </div>
                            </div>
                        </div>
                        <!--End single item-->
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact-form-v1">
                    <form action="" id="contact-form">
                        <input type="text" name="name" placeholder="Name*">
                        <input type="text" name="mail" placeholder="Email*">
                        <input type="text" name="phnumber" placeholder="Phone">
                        <textarea name="message" placeholder="Your Message..."></textarea>
                        <button class="thm-btn bg-cl-1" type="submit">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End contact v1 area-->
