<!--Start breadcrumb area-->
<section class="breadcrumb-area" style="background-image: url(/images/bim/header.png);">
	<div class="container-fluid text-center">
		<h1>Contacto</h1>
	</div>
</section>
<!--End breadcrumb area-->

<!--Start contact v1 area-->
<section class="contact-v1-area">
    <div class="container">
        <div class="sec-title text-center">
            <h2>Ponte en contacto con nosotros</h2>
            <p>¿Tienes una idea o un proyecto en puerta? Cuentanos tu proyecto y desarrollalo con nosotros.</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="img-holder">
                    <img src="/images/bim/contacto.jpg" alt="Awesome Image">
                </div>
                <div class="contact-info">
                    <div class="row">
                        <!--Start single item-->
                        <div class="col-md-6">
                            <div class="single-item">
                                <div class="icon-holder">
                                    <span class="flaticon-building"></span>
                                </div>
                                <div class="text-holder">
                                    <h5>Ubicación:</h5>
                                    <p>Mérida, Yucatán, México</p>
                                </div>
                            </div>
                        </div>
                        <!--End single item-->
                        <!--Start single item-->
                        <div class="col-md-6">
                            <div class="single-item">
                                <div class="icon-holder">
                                    <span class="flaticon-technology"></span>
                                </div>
                                <div class="text-holder">
                                    <h5>Teléfono:</h5>
                                    <p>(99) 92 41 03 41</p>
                                </div>
                            </div>
                        </div>
                        <!--End single item-->
                        <!--Start single item-->
                        <div class="col-md-6">
                            <div class="single-item">
                                <div class="icon-holder">
                                    <span class="flaticon-new-email-outline"></span>
                                </div>
                                <div class="text-holder">
                                    <h5>Email:</h5>
                                    <p>contactosinova@gmail.com</p>
                                </div>
                            </div>
                        </div>
                        <!--End single item-->
                        <!--Start single item-->
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact-form-v1">
                    <form action="" id="contact-form">
                        <input type="text" name="name" placeholder="Nombre*">
                        <input type="text" name="mail" placeholder="Email*">
                        <input type="text" name="phnumber" placeholder="Teléfono">
                        <textarea name="message" placeholder="Su mensaje..."></textarea>
                        <button class="thm-btn bg-cl-1" type="submit">Enviar Mensaje</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End contact v1 area-->
