<!--Start rev slider wrapper-->
<section id="1" class="rev_slider_wrapper">
    <div id="slider1" class="rev_slider"  data-version="5.0">
        <ul>
           <li data-transition="slidingoverlayleft">
                <img src="images/bim/portada1.jpg"  alt="" width="1920" height="800" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1" >

                <div class="tp-caption  tp-resizeme"
                    data-x="left" data-hoffset="0"
                    data-y="top" data-voffset="205"
                    data-transform_idle="o:1;"
                    data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                    data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                    data-splitin="none"
                    data-splitout="none"
                    data-start="700">
                    <div class="slide-content-box">
                        <h1>CONSTRUCCIONES CON EL PODER <br>DE LA TECNOLOGIA DIGITAL</h1>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                    data-x="left" data-hoffset="0"
                    data-y="top" data-voffset="475"
                    data-transform_idle="o:1;"
                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                    data-splitin="none"
                    data-splitout="none"
                    data-responsive_offset="on"
                    data-start="2300">
                    <div class="slide-content-box">
                        <div class="button">
                            <a class="thm-btn bg-cl-1" href="/es/cultura_bim/principios_estrategicos">CULTURA BIM</a>
                        </div>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                    data-x="left" data-hoffset="199"
                    data-y="top" data-voffset="475"
                    data-transform_idle="o:1;"
                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                    data-splitin="none"
                    data-splitout="none"
                    data-responsive_offset="on"
                    data-start="2600">
                    <div class="slide-content-box">
                        <div class="button">
                            <a class="thm-btn bg-cl-1" href=" /es/cultura_bim/empresa  ">SINOVA&BIM</a>
                        </div>
                    </div>
                </div>
            </li>
            <li data-transition="slidingoverlayleft">
                <img src="images/bim/portada2.jpg"  alt="" width="1920" height="800" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1" >

                <div class="tp-caption tp-resizeme"
                    data-x="right" data-hoffset="0"
                    data-y="top" data-voffset="205"
                    data-transform_idle="o:1;"
                    data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                    data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                    data-splitin="none"
                    data-splitout="none"
                    data-start="500">
                    <div class="slide-content-box-prueba">
                        <h1>¡Se parte de la edificación smart!<br></h1>
                    <h3> Innova la edificación con el poder de la tecnologia.</h3>

                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                    data-x="right" data-hoffset="209"
                    data-y="top" data-voffset="475"
                    data-transform_idle="o:1;"
                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                    data-splitin="none"
                    data-splitout="none"
                    data-responsive_offset="on"
                    data-start="2300">
                    <div class="slide-content-box">
                        <div class="button">
                            <a class="thm-btn bg-cl-1" href="/es/proyectos/proyectos">proyectos</a>
                        </div>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                    data-x="right" data-hoffset="436"
                    data-y="top" data-voffset="475"
                    data-transform_idle="o:1;"
                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                    data-splitin="none"
                    data-splitout="none"
                    data-responsive_offset="on"
                    data-start="2600">
                    <div class="slide-content-box">
                        <div class="button">
                            <a class="thm-btn bg-cl-1" href="/es/productos/modelacion_bim">servicios</a>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</section>
<!--End rev slider wrapper-->

<!--Start welcome area-->
<section id="2" class="welcome-area">
    <div class="container clearfix">
        <div class="sec-title">
            <h2>ÚNETE A LA DIGITALIZACIÓN <span>EN CONSTRUCCIÓN</span></h2>
            <span class="decor"></span>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="text-holder">
                    <h3>¡Evita conflictos de diseño y reduce costos de construcción!</h3> <br>
                    <p>La digitalización en la industria de la construcción orienta el camino hacia la mejora en la calidad de las edificaciones mediante la eficiencia en el diseño y construcción. La correcta gestión de modelos 3D inteligentes permite una coordinación entre diseñadores, ingenieros, clientes y usuarios de manera coordinada en el desarrollo del proyecto.
                      <h3>Pon a tu alcance los modelos digitales con Sinova&BIM<h3>
                        <h3>  y asegura el éxito a tus proyectos! <h3>
                     <div class="bottom">
                        <div class="button">
                           <a class="thm-btn bg-cl-1" href="/es/productos/modelacion_bim">Conoce más</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="gallery clearfix">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="video-gallery">
                                <img src="images/bim/inicio.jpg" alt="Awesome Video Gallery">
                                <div class="overlay-gallery">
                                    <div class="icon-holder">
                                        <div class="icon">
                                    <!-- <a class="" title="Interrio Gallery" href="M"><img src="images/icon/play-btn.png" alt="Play Button"/></a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="gallery-bg-img">
                                <img src="images/bim/inicio2.jpg" alt="Awesome Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End welcome area-->

<!--Start service area-->
<section id="3" class="service-area" style="background-image:url(images/services/bg.jpg);">
    <div class="container">
        <div class="sec-title">
            <h2>Como Trabajamos</h2>
            <span class="decor"></span>
        </div>
        <div class="row">
            <!--Start single service item-->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-service-item">
                    <div class="img-holder">
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <a href=""><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <h3>1.-Asesoría de <span> Proyectos</span></h3></a>
                        <p>Recibe una asesoría, en la cual se determinará la manera en que podrás aprovechar la edificación digital al desarrollo de proyectos de infraestructura. En base a esto recibirás una propuesta que se adapte a los requerimientos de tu proyecto </p>


                    </div>
                </div>
            </div>
            <!--End single service item-->
            <!--Start single service item-->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-service-item">
                    <div class="img-holder">
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <a href=""><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <h3>2.- Modelación <span>Digital</span></h3>
                        <p> Realizamos la modelación de multiples disciplinas de proyectos:</p>
                        <p>- Modelos Arquitectónicos, Instalaciones y Estructuras</p>
                        <p>-Prefabricados, Montaje y Logística. </p>
                        <p>-Modelos de Coordinación, Costos y Construcción </p>

                    </div>
                </div>
            </div>
            <!--End single service item-->
            <!--Start single service item-->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-service-item">
                    <div class="img-holder">
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <a href="services-single.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <h3>3.-Implementación <span> BIM</span></h3>
                        <p>¡Trabaja en coordinación BIM!<p>
                        <p>Implementamos y desarrollamos cursos y capacitación a equipos de trabajo y la correcta integración de BIM a empresas de instalaciones, arquitectura, constructoras y urbanizadoras</p>

                        <p></p><br> <br> <br> <br> <br>

                    </div>
                </div>
            </div>
            <!--End single service item-->
            <!--Start single service item-->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-service-item">
                    <div class="img-holder">
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <a href=""><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <h3>4.-Coordinación BIM <span>en obra </span></h3>
                        <p>¡Evita conflictos durante la construcción! Nos adaptamos a sitios en construcciones existentes.<p>
                          Para la coordinación multidisciplinaria de trabajos mediante la implementación de un modelo digital de construcción y logística</p>
                    </div>
                </div>
            </div>
            <!--End single service item-->
            <!--Start single service item-->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-service-item">
                    <div class="img-holder">
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <a href=""><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <h3>5.-Coordinación de <span>proyecto </span></h3>
                        <p>Desarrollo de modelos de licitación, para la coordinación de licitaciones mediante BIM.La información correspondiente del proyecto generado es accesible a terceras compañías licitadoras, para su propuesta económica y de servicios</p>
                        <p> <p>
                    </div>
                </div>
            </div>
            <!--End single service item-->
            <!--Start single service item-->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-service-item">
                    <div class="img-holder">
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <a href=""><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <h3>6.-Gestión de <span> activo digital</span></h3>
                        <p>¡Tu activo digital de edificación siempre respaldado!</p>
                        <p>Con nosotros tendrás la seguridad de que tu activo digital estará siempre a tu disponibilidad, para análisis como BIG DATA  y toma de decisiones en la gestión y operación a largo plazo del edificio.</p>
                    </div>
                </div>
            </div>
            <!--End single service item-->

        </div>
    </div>
</section>
<!--End service area-->

</section>
<!--End slogan area-->

<!--Start working area-->
<section id="5" class="working-area">
    <div class="container">
        <div class="sec-title text-center">
            <h2>BIM ideas</h2>
            <p>Nos encontramos en constante busqueda de las mejores ideas y desarrollo de proyectos para contribuir con la misión de mejorar la calidad de  vida de la sociedad atráves del fomento de edificaciones eficientes y procesos smart en la construcción.</p>
        </div>
        <div class="row">
            <!--Start single working item-->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-working-item">
                   <div class="icon-box">
                        <div class="icon">
                            <i class="fas fa-lightbulb"></i>
                        </div>
                        <div class="count">
                            <h3>1</h3>
                        </div>
                   </div>
                   <div class="text-box text-center">
                       <h3>A BIM idea</h3>
                       <p>Nuestro equipo buscara la mejor solución al proyecto mediante el empleo de los modelos 3D .</p>
                   </div>
                </div>
            </div>
            <!--End single working item-->
            <!--Start single working item-->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-working-item">
                   <div class="icon-box">
                        <div class="icon">
                            <i class="fas fa-comments"></i>
                        </div>
                        <div class="count">
                            <h3>2</h3>
                        </div>
                   </div>
                   <div class="text-box text-center">
                       <h3>BIM Coordinación</h3>
                       <p>Colaboramos en proyectos de infraestructura y coordinación de los equipos de trabajo involucrados .</p>
                   </div>
                </div>
            </div>
            <!--End single working item-->
            <!--Start single working item-->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-working-item">
                   <div class="icon-box">
                        <div class="icon">
                            <i class="fas fa-building"></i>
                        </div>
                        <div class="count">
                            <h3>3</h3>
                        </div>
                   </div>
                   <div class="text-box text-center">
                       <h3>Construcción Smart</h3>
                       <p>Proponemos procesos coordinados en el desarrollo de la edificación.</p>
                   </div>
                </div>
            </div>
            <!--End single working item-->
            <!--Start single working item-->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-working-item">
                   <div class="icon-box">
                        <div class="icon">
                            <i class="fas fa-chart-line"></i>
                        </div>
                        <div class="count">
                            <h3>4</h3>
                        </div>
                   </div>
                   <div class="text-box text-center">
                       <h3>Smart Building</h3>
                       <p> Obten el Activo Digital de Edificación para la gestión y operación del edificio a largo plazo.</p>
                   </div>
                </div>
            </div>
            <!--End single working item-->
        </div>
    </div>
</section>
<!--End working area-->

    </div>
</section>
<!--End latest blog area-->
